body{
    margin: 0;
    overflow: hidden;
    background-color: gray;
}

/*
p{
    position: absolute;
    top: 200 px;
    left:50%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: blue;
    background-color: darkgray;
    width: 500px;
}

.besch{
    font-family: monospace;
    font-size: 16pt;
    padding: 10px;
}

#schachtl{
    position: absolute;
}
*/

.wrap{
    font-family: monospace, serif;
    color: white;
    font-size: 10pt;
    position: absolute;
    top: 10px;
    left: 170px;
}

canvas{
    background-color: white;
    right:0px;
}

canvas:hover {
    cursor: crosshair;
}

#d {
    position: absolute;
    font-family: monospace, serif;
    color: white;
    top: 300px;
    left:40px;
    padding: 15px;
}

#text{
    position: absolute;
    width: 300px;
    height: 300px ;
    top:300px;
    left:500px;
    z-index: 2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding:10px;
}
