html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,.note,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,button,nav,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:none;
	outline:0;
	text-decoration:none;
	color:#fff;
	font-family: monospace;
	font-weight: 400;
	font-size: 12pt;
	list-style:none;
	line-height:120%;
	background:none;
	transition: all .2s;
}

body, html {
	height: 100%;
	width: 100%;
}

#stats {
	display: none;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

main {
	box-sizing: border-box;
	padding: 1rem;
	padding-top: 2rem;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	overflow-y: scroll;
	width: 350px;
	background: blue;
}

aside#hl {
	position: fixed;
	top: 2rem;
	left: 2rem;
	z-index: 100;
	
}

h1 {
	line-height: 100%;
	font-size: 3rem;
	color: #ffff00;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5rem;
	color: #ffff00;
}

h3 {
	font-size: 1.5rem;
	line-height: 0;
}

h1, h2, p, button, ul {
	padding-bottom: 2rem;
	display: block;
}

li {
	margin-bottom: 1.5rem;
	position: relative;
	text-transform: uppercase;
}

li:last-child {
	margin: 0;
}

li img {
	display: inline-block;
	height: 2.6rem;
	float: right;
	padding-right: 8rem;
}

.ctrl {
	background: transparent;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #fff;
	margin-right: 2rem;
}

p .ctrl {
	margin-right: .3rem;
}

button {
	background: transparent;
	color: #ff0;
	padding: .6rem 1rem;
	border: 2px solid #ff0;
}

button:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, .1);
}
